/* VARIABLES SECTION */

/* MAIN ELEMENTS SECTION */

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* CLASS SECTION */

.red {
  outline: red 1px solid;
}

/* ID SECTION */

/* MEDIA QUERIES SECTION */

@media (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 25%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 20%;
  }
}
