/* VARIABLES SECTION */
:root {
  --color-blue: #0065fc;
  --color-light-blue: #deebff;
  --color-light-gray: #f2f2f2;
  --transition: 200ms;
}

/* MAIN ELEMENTS SECTION */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

footer {
  background: var(--color-light-gray);
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CLASS SECTION */

.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.footer-list-item {
  font-size: 2rem;
  margin-top: 1.5em;
}

.footer-list-item:hover,
.footer-list-item:focus {
  color: var(--color-blue);
}

/* ID SECTION */

#header-container {
  justify-content: space-between;
}

#header-logo {
  width: 20rem;
  padding: 1em;
}

#header-menu {
  width: 40rem;
}

#header-logo,
#header-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-menu ul li {
  font-size: 2.4rem;
  padding: 3.5em 1.5em;
}

#header-menu ul li:hover,
#header-menu ul li:focus {
  color: var(--color-blue);
  box-shadow: 0 2px 0 var(--color-blue) inset;
}

#footer-container {
  align-items: flex-start;
  justify-content: space-between;
  padding: 3em 0;
}

#invisible-nav-block {
  display: block;
  width: 10%;
}

/* MEDIA QUERIES SECTION */

@media (max-width: 1280px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 25%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 20%;
  }
}
