/* VARIABLES SECTION */
:root {
  --color-blue: #0065fc;
  --color-light-blue: #deebff;
  --color-light-gray: #f2f2f2;
  --transition: 200ms;
}

/* MAIN ELEMENTS SECTION */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CLASS SECTION */

.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

/* ID SECTION */

#main-navbar {
  display: flex;
  justify-content: space-between;
  height: 20rem;
}

#main-logo {
  width: 20rem;
  padding: 1em;
}

#main-menu {
  width: 40rem;
}

/* #main-logo,
#main-menu,
#main-menu ul,
#main-menu ul li {
  height: 100%;
} */

#main-logo,
#main-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-menu ul li {
  display: inline;
  font-size: 2.4rem;
  padding: 3.5em 1.5em;
}

#main-menu ul li:hover,
#main-menu ul li:focus {
  color: var(--color-blue);
  transition: var(--transition);
  border-top: var(--color-blue) solid 0.3rem;
}

/* MEDIA QUERIES SECTION */

@media (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 25%;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 20%;
  }
}
